.h1{
   color: cornsilk; 

}
.letra{
    color: rgb(255, 245, 245);
    margin-left: 10%;
    
}
.letra1{
    color: rgb(255, 245, 245);


    
}
.derecha{
    width: 30%;
    height: auto;
    float: right;
    margin-top: 7%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 75%;
    margin-left: 70%;
    position: fixed;
   
  }
  .fondo{
        width: 100% 100% auto;
        height: auto;
        background-color: rgb(0, 0, 58);
        position: fixed;
  }
   .imagen{
       background-size: 100%;
       background-image: url("https://assets.eldesconcierto.cl/2021/02/A_UNO_1220841-1024x683.jpg");
       background-repeat: no-repeat;
       max-width: 100%;
       position: fixed;
       
 }
 .center {
    margin: auto;
    width: 50%;
    height: 1700px;
    padding: 10px;
 }
 .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(22, 22, 22, 0.651) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: rgb(0, 0, 0);
    background-color: #0076c5;
    width: 100px;
    }
    
    .login_btn:hover{
    color: rgb(0, 90, 175);
    background-color: rgb(255, 255, 255);
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    html,body{
background-image: url('https://assets.eldesconcierto.cl/2018/03/pdi.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}